13. Installation of MetaMask and study spending Ether per transaction and
Create your own wallet using Metamask for crypto transactions.
&
Given a bank customer, build a neural network-based classifier that can
determine whether they will leave or not in the next 6 months. Dataset
Description: The case study is from an open-source dataset from Kaggle. The
dataset contains 10,000 sample points with 14 distinct features such as
CustomerId, CreditScore, Geography, Gender, Age, Tenure, Balance, etc.
Link to the Kaggle project: https://www.kaggle.com/barelydedicated/bank-
customer-churn-modeling
Perform following steps: 1. Read the dataset. 2. Distinguish the feature and
target set and divide the data set into training and test sets. 3. Normalize the
train and test data. 4. Initialize and build the model. Identify the points of
improvement and implement the same. 5. Print the accuracy score and
confusion matrix (5 points).

## steps 
### Step 1: Install MetaMask
1. **Go to the MetaMask website**: Open your browser and navigate to [https://metamask.io](https://metamask.io).
2. **Download the MetaMask Extension**: Click the download button, and select the appropriate extension for your browser (Chrome, Firefox, Edge, or Brave).
3. **Install the Extension**: Follow the on-screen prompts to add the MetaMask extension to your browser.
4. **Open MetaMask**: Once installed, click on the MetaMask icon in your browser toolbar to open it.

### Step 2: Create a New Wallet
1. **Get Started**: Click "Get Started" on the MetaMask welcome screen.
2. **Create a New Wallet**:
   - Click "Create a Wallet."
   - Set a secure password. This password is needed to unlock MetaMask on your device.
   - **Backup your Secret Recovery Phrase**: MetaMask will generate a 12-word seed phrase (Secret Recovery Phrase). Write this down and store it in a secure place. Do not share this phrase with anyone, as it can give access to your wallet.
3. **Complete Setup**: After confirming your Secret Recovery Phrase, your wallet setup will be complete.

### Step 4: Study Spending Ether per Transaction
1. **Understanding Gas Fees**:
   - Ether (ETH) is spent for each transaction as "gas fees," which compensate miners for processing and validating transactions on the Ethereum blockchain.
   - The gas fee is based on the network demand, transaction complexity, and speed at which you want your transaction processed.
2. **Viewing Transaction Fees**:
   - When you make a transaction in MetaMask, it will show the estimated gas fee for that transaction.
   - You can choose between "Low," "Medium," and "High" fees, which affect the transaction speed.
3. **Analyze Gas Prices and Costs**:
   - For hands-on study, try making a small transaction on the Ethereum test network (e.g., Rinkeby, Goerli) to see how gas fees vary.
   - You can also use gas tracking tools (e.g., [Etherscan Gas Tracker](https://etherscan.io/gastracker)) to monitor gas prices over time and understand fee fluctuations.

In [2]:
#2 
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [3]:
data = pd.read_csv("/Users/lokeshkhabiya/FourthYearStuff/practicals/lp-3/Codes/Datasets/Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
X = data.drop(columns=['Exited', 'CustomerId', 'Surname', 'RowNumber'])  # Exclude columns
y = data['Exited']  # Target

In [5]:
# Removing rows with missing values:
data = data.drop(['CustomerId', 'Surname', 'RowNumber'], axis = 1)
print(data.columns)

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [6]:
# Add additional error handling to verify the column names
columns_to_encode = ['Geography', 'Gender']
for column in columns_to_encode:
    if column not in X.columns:
        raise ValueError(f"Column '{column}' not found in the DataFrame X.")

# You need to encode categorical variables like "Geography" and "Gender" into numerical format using one-hot encoding.
X = pd.get_dummies(X, columns=['Geography', 'Gender'], drop_first=True)

In [7]:
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [8]:
model = keras.Sequential([
    keras.layers.Dense(64, activation='relu', input_shape=(X.shape[1],)),
    keras.layers.Dense(32, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

In [9]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [10]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model.fit(X_train, y_train, epochs=20, batch_size=32, verbose=1)

Epoch 1/20

2024-11-07 22:53:52.563801: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

250/250 [==============================] - 0s 417us/step - loss: 0.4812 - accuracy: 0.7941
Epoch 2/20
250/250 [==============================] - 0s 374us/step - loss: 0.4468 - accuracy: 0.8065
Epoch 3/20
250/250 [==============================] - 0s 369us/step - loss: 0.4314 - accuracy: 0.8138
Epoch 4/20
250/250 [==============================] - 0s 396us/step - loss: 0.4191 - accuracy: 0.8217
Epoch 5/20
250/250 [==============================] - 0s 640us/step - loss: 0.4005 - accuracy: 0.8295
Epoch 6/20
250/250 [==============================] - 0s 369us/step - loss: 0.3831 - accuracy: 0.8393
Epoch 7/20
250/250 [==============================] - 0s 442us/step - loss: 0.3681 - accuracy: 0.8472
Epoch 8/20
250/250 [==============================] - 0s 449us/step - loss: 0.3606 - accuracy: 0.8494
Epoch 9/20
250/250 [==============================] - 0s 464us/step - loss: 0.3560 - accuracy: 0.8522
Epoch 10/20
250/250 [==============================] - 0s 441us/step - loss: 0.3529 - accuracy: 0.8526
Epoch 11/20
250/250 [==============================] - 0s 395us/step - loss: 0.3515 - accuracy: 0.8536
Epoch 12/20
250/250 [==============================] - 0s 672us/step - loss: 0.3497 - accuracy: 0.8505
Epoch 13/20
250/250 [==============================] - 0s 435us/step - loss: 0.3460 - accuracy: 0.8547
Epoch 14/20
250/250 [==============================] - 0s 392us/step - loss: 0.3449 - accuracy: 0.8571
Epoch 15/20
250/250 [==============================] - 0s 377us/step - loss: 0.3445 - accuracy: 0.8566
Epoch 16/20
250/250 [==============================] - 0s 376us/step - loss: 0.3436 - accuracy: 0.8564
Epoch 17/20
250/250 [==============================] - 0s 425us/step - loss: 0.3413 - accuracy: 0.8577
Epoch 18/20
250/250 [==============================] - 0s 891us/step - loss: 0.3403 - accuracy: 0.8579
Epoch 19/20
250/250 [==============================] - 0s 418us/step - loss: 0.3386 - accuracy: 0.8600
Epoch 20/20
250/250 [==============================] - 0s 427us/step - loss: 0.3384 - accuracy: 0.8602

In [11]:
# Step 6: Evaluate the Model
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5).astype(int)  # Convert to binary prediction

63/63 [==============================] - 0s 307us/step

In [12]:
accuracy = accuracy_score(y_test, y_pred)
confusion = confusion_matrix(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print("Confusion Matrix:")
print(confusion)

Accuracy: 0.857
Confusion Matrix:
[[1536   71]
 [ 215  178]]